@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,300;1,400;1,600&display=swap');
body{
margin: 0;
padding: 0;
font-family: sans-serif;
background-color: rgb(0, 0, 0);

}
nav{
background-color: #680c80;
padding: 2rem;


}
marquee{
    color:rgb(34, 238, 8);
   
 
}
.heart{
    width: 40px;
    height: 100px;
    top: 50%;
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #ff3e3e;
    transform-origin: right bottom;
    transition: 10s;
}


.heart::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    transition: 10s;
    transform-origin: right bottom;
}
.heart:hover{
    transform: rotate(45deg);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;

}
.heart:hover:before{
    transform: rotate(450deg) translateY(100px);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background: #e22c2c;
}
::-webkit-scrollbar{
    display: none;
}
audio{

    top: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem;
}


   
